@using GenerateUsers.Data
@model List<UserStats>

      @{
        if (Model != null)
            {
                int i = Amount.numb;
                foreach (var obj in Model){
                  <tr>
                    <th scope="row">@i</th>
                    <td>@obj.Id</td>
                    <td>@obj.FullName</td>
                    <td>@obj.Address</td>
                    <td>@obj.Phone</td>
                  </tr>
                  i++;
                  Amount.numb ++;
                } 
            }
       }