@model List<UserStats>

<div style="overflow-y:auto; height: 500px; margin-top:20px">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Random ID</th>
      <th scope="col">Full name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
      @{
        if (Model != null)
            {
                int i = 1;
                foreach (var obj in Model){
                  <tr>
                    <th scope="row">@i</th>
                    <td>@obj.Id</td>
                    <td>@obj.FullName</td>
                    <td>@obj.Address</td>
                    <td>@obj.Phone</td>
                  </tr>
                  i++;
                } 
            }
       }
    
  </tbody>      
  </table>
</div>